/* FONTS */
@font-face {
    font-family: "Poppins-Regular";
    src: url(assets/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Poppins-Medium";
    src: url(assets/fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
    font-family: "Poppins-Bold";
    src: url(assets/fonts/Poppins/Poppins-Bold.ttf);
}

/* COLOR VARS */
:root {
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(0, 0, 0);
    --window-color: rgb(245, 245, 245);
    --button-color: rgb(215, 215, 215);
    --button-hvr-color: rgb(205, 205, 205);
    --input-readonly-color: rgb(235, 235, 235);
    --ctnr-gradient: linear-gradient(to bottom,
        rgb(255,255,255),
        rgb(245,245,245)
    );
}
.dark-theme { 
    --primary-color: rgb(0, 0, 0);
    --secondary-color: rgb(255, 255, 255);
    --window-color: rgb(41, 42, 45);
    --ctnr-gradient: linear-gradient(to bottom,
        rgb(0, 0, 0),
        rgb(41, 42, 45)
    );
}
.filter-white { filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg) brightness(102%) contrast(102%); }
.filter-grey { filter: invert(93%) sepia(100%) saturate(0%) hue-rotate(350deg) brightness(107%) contrast(102%); }


/* MAIN COMPONENTS */
* {
    padding: 0;
    margin: 0;
}
html {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-family: "Poppins-Regular";
    overflow-x: hidden;
    min-width: 100vw;
    min-height: 100vh;
    font-size: 62.5%; /* sets base font size to 10px (easy to use rem sizing) */
}
.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100vw;
    z-index: -1;
    opacity: .75;
}
input {
    display: flex;
    align-items: center;
    background: var(--primary-color);
    color: var(--secondary-color);
    max-height: 2.5rem;
    font-family: "Poppins-Regular";
    font-size: 2rem;
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 1rem;
    cursor: pointer;
}
.input-box {
    display: flex;
    align-items: center;
    background: var(--primary-color);
    color: var(--secondary-color);
    max-height: 2.5rem;
    font-family: "Poppins-Regular";
    font-size: 2rem;
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 1rem;
    cursor: default;
}
.text-box {
    display: flex;
    align-items: center;
    background: var(--primary-color);
    color: var(--secondary-color);
    font-family: "Poppins-Regular";
    font-size: 2rem;
    padding: 1rem 2rem;
    border: 1px solid grey;
    border-radius: 1rem;
}
.readonly { 
    background: var(--input-readonly-color); 
    cursor:auto;
}


/* DISPLAY WINDOW */
body {
    background: var(--window-color);
    color: var(--secondary-color);
    position: relative;
    width: 70%;
    height: 700px;
    /* max-width: 1400px;  need a specific value to work */
    /* max-height: 1400px; */
    border-radius: 1rem;
    padding: 4rem;
    font-size: 2rem;
    transition: color 1s ease, background 1s ease;  /*theme transition*/
}
/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img { 
        max-width: 4rem; 
        margin-right: 1.5rem;
    }
    h1 { font-family: "Poppins-Bold"; }
}
.logo-title { 
    display: flex; 
    align-items: center;
}

.site-btn-ctnr {
    display: flex;
    align-items: center;
    justify-content: right;
}
.site-btn {
    position: relative;
    background: none;
    border: none;
    margin-left: 1.5rem; 
    cursor: pointer;

    img { 
        max-width: 2.5rem; 
        margin-right: 0;
        opacity: .25;
        transition: opacity .25s ease;
    }
}
.site-btn:hover {
    img {
        opacity: .5;
        transition: opacity .25s ease;
    }
    .tooltip { visibility: visible; }
}
.tooltip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
    margin-bottom: 1rem;
}

hr { 
    margin: 2rem 0; 
    opacity: .5;
}


/* Window Main */
.main {
    display: flex;
    gap: 2rem;
    height: 100%;
}
.main-ctnr {
    flex: 1;
    background: var(--window-color);
    border: 1px solid lightgrey;
    border-radius: 1rem;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 80%;
}
.main-ctnr::-webkit-scrollbar { width: 1rem; }
.main-ctnr::-webkit-scrollbar-track {
    background: rgb(235, 235, 235);
    border-radius: 1rem;
}
.main-ctnr::-webkit-scrollbar-thumb {
    background: rgb(200, 200, 200);
    border-radius: 1rem;
}
.main-ctnr-hdr {
    display: flex;
    align-items: center;
    background: var(--primary-color);
    border-radius: 1rem 1rem 0 0;
    padding: 1rem 2rem;
}
.main-ctnr-body {
    background: var(--ctnr-gradient);
    padding: 1rem 2rem;
}

.selection {
    display: flex;
    align-items: center;
    img { 
        max-width: 2rem; 
        margin-right: 2rem; 
        opacity: .75;
        cursor: pointer;
    }
}
.dropdown-ctnr {
    font-family: "Poppins-Regular";
    min-height: 2.5rem;
    margin-right: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

.input-ctnr {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 0;

    p { font-size: 1.5rem; }
}
.input-w-label {
    display: flex;
    align-items: center;

    input { margin-right: 1rem; }
    .text-box, .input-box { 
        margin: 0 1rem .5rem 0;
        min-width: 25rem;
        max-width: 25rem;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .input-box::-webkit-scrollbar { display: none; }
    p {
        max-width: fit-content;
        font-size: 1.5rem;
        /* background-color: rgb(184, 201, 255);
        color: #33457e; */
        /* background-color: rgb(236, 51, 97); */
        background-color: rgb(243, 77, 119);
        color: white;
        padding: 0 1rem;
        border-radius: .5rem;
    }
    #otherResultLabel1,
    #otherResultLabel2 {
        background-color: rgb(150, 150, 150);
        color: #5a5a5a;
        color: white;
    }
}

.action-btns {
    display: flex;
    flex-flow: wrap;
}
.btn {
    display: flex;
    align-items: center;
    max-width: fit-content;
    font-family: "Poppins-Regular";
    font-size: 1.5rem;
    font-weight: 600;
    background: var(--button-color);
    color: #5a5a5a;
    /* background: black;
    color: white; */
    padding: 1rem 2rem;
    margin: 1rem 1rem 1rem 0;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color .1s ease;
}
.btn:hover {
    background: var(--button-hvr-color);
    transition: background .1s ease;
}
.btn img {
    /* filter: invert(93%) sepia(100%) saturate(0%) hue-rotate(350deg) brightness(107%) contrast(102%); */
    filter: invert(33%) sepia(0%) saturate(1%) hue-rotate(35deg) brightness(102%) contrast(90%);
    max-width: 2rem;
    margin-right: 1rem;
}
.btn-sm {
    font-size: 1.35rem;
    padding: .5rem 1.5rem;
    margin-top: .5rem;
}

.empty-msg {    
    p { margin-bottom: 1.5rem; }
    img { 
        width: 75%; 
        border-radius: 1rem;
    }
    
}
.empty-btn {
    max-width: fit-content;
    font-family: "Poppins-Regular";
    font-size: 1.5rem;
    font-weight: 600;
    background-color: rgb(230, 230, 230);
    color: #5a5a5a;
    padding: 1rem 2rem;
    margin-left: 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}
.empty-btn::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid rgb(230, 230, 230);
    border-bottom: 13px solid transparent;
    transform: translateX(-3.5rem);
}
/* LOADING.IO */
.lds-grid {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
}
.lds-grid div {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgb(243, 77, 119);
    animation: lds-grid 2.5s linear infinite;
}
.lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
    top: 8px;
    left: 24px;
    animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
    top: 8px;
    left: 40px;
    animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
    top: 24px;
    left: 8px;
    animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
    top: 24px;
    left: 24px;
    animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
    top: 24px;
    left: 40px;
    animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
    top: 40px;
    left: 8px;
    animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
    top: 40px;
    left: 24px;
    animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
    top: 40px;
    left: 40px;
    animation-delay: -1.6s;
}
@keyframes lds-grid {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}


.calculation-box {
    background: var(--primary-color);
    color: var(--secondary-color);
    font-family: "Poppins-Regular";
    font-size: 2rem;
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 1rem;

    width: 100%;
    max-height: 300px;
    max-width: fit-content;
    padding: 1rem 2rem;
    overflow-y: scroll;
    
    p { 
        font-size: 1.5rem; 
        opacity: .75;
    }
}
.calculation-box::-webkit-scrollbar { width: 1rem; }
.calculation-box::-webkit-scrollbar-track { background: none; }
.calculation-box::-webkit-scrollbar-thumb {
    background: lightgrey;
    border-radius: 2rem;
    cursor: grab;
}
.calculation-box::-webkit-scrollbar-thumb:hover { background: rgb(190, 190, 190); }
#copyMsg {
    display: none;
    background-color: lightgreen;
    color: black;
    max-width: fit-content;
    font-size: 1.35rem;
    padding: 0.5rem 1.5rem;
    margin-top: .5rem;
    border-radius: 1rem;
    cursor: default;
}

#aboutText { display: block; }
.about-table {
    background: var(--window-color);
    border: 1px solid grey;
    border-collapse: collapse;
    margin: 1rem 0;

    tr { border-bottom: 1px solid grey; }
    tr:nth-child(even) { background: var(--primary-color); }
    td { 
        border-right: 1px solid grey; 
        padding: .25rem 1rem;
    }
}








/* RESPONSIVE DESIGN: LAPTOPS */
/* ---------------------------------------------------------------------- */
@media (max-width: 1600px) {
    body {
        width: 80vw;
        height: 70vh;
    }
}


/* RESPONSIVE DESIGN: TABLETS */
/* ---------------------------------------------------------------------- */
@media (max-width: 900px) {
    body {
        width: 75vw;
        height: 80vh;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .main { 
        flex-direction: column; 
        margin-bottom: 2rem;
    }
    .main-ctnr {
        height: 100%;
        overflow-x: visible;
        overflow-y: visible;
        min-height: fit-content;
        max-height: fit-content;
    }
    .selection { 
        flex-direction: column; 
        align-items: baseline;
    }
    #swap-btn {
        margin-bottom: 1rem;
        transform: translateX(17rem);
        scale: 125%;
    }
    .dropdown-ctnr {
        margin-bottom: 1rem;
        margin-left: 0;
    }
}