/* FONTS */
@font-face {
    font-family: "Poppins-Regular";
    src: url(assets/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Poppins-Medium";
    src: url(assets/fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
    font-family: "Poppins-Bold";
    src: url(assets/fonts/Poppins/Poppins-Bold.ttf);
}

/* COLOR VARS */
:root {
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(0, 0, 0,);
}
.dark-theme { 
    --primary-color: rgb(0, 0, 0,);
    --secondary-color: rgb(255, 255, 255);
}


/* MAIN COMPONENTS */
* {
    padding: 0;
    margin: 0;
}
html {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: var(--secondary-color); */
    background-color: black;
    font-family: "Poppins-Regular";
    overflow-x: hidden;
    min-width: 100vw;
    min-height: 100vh;
    font-size: 62.5%; /* sets base font size to 10px (easy to use rem sizing) */
}
.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100vw;
    z-index: -1;
    /* opacity: .75; */
}
input,
.input-box {
    width: 300px;
    font-family: "Poppins-Regular";
    font-size: 2rem;
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 1rem;
    cursor: pointer;
}


/* DISPLAY WINDOW */
body {
    /* background: var(--primary-color); */
    position: relative;
    background-color: white;
    width: 50%;
    height: 600px;
    max-width: 1400px; /* need a specific value to work */
    max-height: 1400px;
    border-radius: 1rem;
    padding: 4rem;
    font-size: 2rem;
}
/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img { 
        max-width: 2rem; 
        margin-left: 2rem; 
        opacity: .75;
        cursor: pointer;
    }
}
.title {
    display: flex;
    align-items: baseline;
    p { opacity: .75; }
}
hr { 
    margin: 2rem 0; 
    opacity: .5;
}
.selection {
    display: flex;
    align-items: center;
}
.dropdown-ctnr {
    font-family: "Poppins-Regular";
    margin-left: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

/* Window Body */
.input-ctnr {
    display: flex;
    flex-direction: column;
    width: 65%;
    padding: 1rem 0;
    p { font-size: 1.5rem; }
}
.input-w-label {
    display: flex;
    align-items: center;
    input {
        margin-right: 1rem;
    }
    p {
        max-width: fit-content;
        font-size: 1.5rem;
        background-color: rgb(184, 201, 255);
        /* color: black; */
        color: #33457e;
        padding: 0 1rem;
        border-radius: .5rem;
    }
}

.action-btns {
    display: flex;
    margin: 2rem 0;
}
.btn {
    display: flex;
    align-items: center;
    min-width: fit-content;
    font-family: "Poppins-Regular";
    font-size: 1.5rem;
    font-weight: 600;
    background-color: lightgrey;
    background-color: rgb(230, 230, 230);
    color: #5a5a5a;
    padding: 1rem 2rem;
    margin-right: 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color .15s ease;
}
.btn:hover {
    background-color: rgb(210, 210, 210);
    transition: background-color .15s ease;
}
.btn img {
    filter: invert(33%) sepia(0%) saturate(0%) hue-rotate(200deg) brightness(102%) contrast(90%);
    max-width: 2rem;
    margin-right: 1rem;
}

.calculation-ctnr {
    width: 100%;
    max-height: 165px;
    max-width: fit-content;
    padding: 1rem 2rem;
    margin: 3rem 0;
    overflow-y: scroll;
    p { 
        font-size: 1.5rem; 
        opacity: .75;
    }
}
.calculation-ctnr::-webkit-scrollbar { width: 1rem; }
.calculation-ctnr::-webkit-scrollbar-track { background: none; }
.calculation-ctnr::-webkit-scrollbar-thumb {
    background: lightgrey;
    border-radius: 2rem;
    cursor: grab;
}
.calculation-ctnr::-webkit-scrollbar-thumb:hover {
    background: rgb(190, 190, 190);
}


/* Footer */
.footer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: right;
    width: 50%;
    bottom: 0;
    right: 0;
    padding: 2rem 4rem;
    img { 
        max-width: 2.5rem; 
        margin-left: 1.5rem; 
        opacity: .25;
        cursor: pointer;
        transition: opacity .25s ease;
    }
    img:hover {
        opacity: .5;
        transition: opacity .25s ease;
    }
}









/* RESPONSIVE DESIGN: LAPTOPS */
/* ---------------------------------------------------------------------- */
@media (max-width: 1600px) {
    body {
        width: 60vw;
        height: 60vh;
    }
    .header { flex-direction: column; }
    .title { margin-bottom: 1rem; }
}


/* RESPONSIVE DESIGN: TABLETS */
/* ---------------------------------------------------------------------- */
@media (max-width: 900px) {
    body {
        width: 80vw;
        height: 80vh;
    }
    .title { display: none; }
    .selection { flex-direction: column; }
    .header img,
    .dropdown-ctnr {
        margin-bottom: 1rem;
        margin-left: 0;
    }
}